---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "PROJECTS" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5 text-primaryPurple">Favorites</div>
  </div>

  <HorizontalCard
    title="Romance, Rewritten"
    subtitle="What Today's Romances Say About Us"
    img="/images/romance-header.png"
    desc="Website exploring how romance novels have changed over the past 15 years, made for readers curious about how love stories are told."
    url="/romance-rewritten"
    badge="CAPSTONE"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Taylor EDA"
    subtitle="Taylor Swift's Sound Evolution"
    img="/images/taylor-eda.png"
    desc="Data-driven look at how Taylor Swift’s sound has changed across albums and rerecordings, built with Spotify audio features."
    url="/taylor-eda"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10 text-primaryPurple">MICA Projects</div>
  </div>

  <HorizontalCard
    title="Midwest Climate Change"
    subtitle="Tracking the Midwest's Rising Temperatures"
    img="/images/climate-map.png"
    desc="Interactive site exploring how climate change is affecting the Midwest, with a focus on rising temperatures and heatwaves"
    url="/midwest-climate-change"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Why Do Sweaters Suck?"
    subtitle="A Guide to Finding Sweaters that Last"
    img="/images/sweater-content.png"
    desc="Figma prototype guiding users through sweater shopping while exploring the impact of synthetic fabrics like polyester."
    url="/why-do-sweaters-suck"
  />
  
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Women in the Olympics"
    subtitle="The Long Climb to Gender Balance in the Olympics"
    img="/images/olympics-front.png"
    desc="Visualization of the growing presence of women in the Olympics, highlighting milestones and gender parity at the 2024 Games."
    url="/women-in-the-olympics"
  />

</BaseLayout>
